<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="watcherConfig" type="RoyaltyWorker.Config.WatcherConfigSection, RoyaltyWorker" />
    <section name="workerConfig" type="RoyaltyWorker.Config.WorkerConfigSection, RoyaltyWorker" />
  </configSections>
  <watcherConfig checkTimerInterval="00:00:20.000"
                 exceptionIfNoOneFileInQueue="false"
                 verboseLog="false"/>
  <workerConfig checkTimerInterval="00:00:05.000"
                logFileEncoding="cp1251"
                verboseLog="false"
                defaultImportLogFileName="fileimport.log"
                defaultExportFileName="export.csv"
                defaultNotTrustedPhonesSuffix="phones"
                defaultCultureForExportThread="ru-RU"/>
</configuration>