<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="watcherConfig" type="RoyaltyWorker.Config.WatcherConfigSection, RoyaltyWorker" />
  </configSections>
  <watcherConfig fileMaskForAddFileInQeueue="*.csv" 
                 ceckTimerInterval="00:00:30.000"
                 exceptionIfNoOneFileInQueue="false"
                 watchOnlyTopDirectory="true"
                 verboseLog="false"/>
</configuration>